@model ETicaret.Models.Kategoriler

@{
    ViewBag.Title = "Delete";
}

<div class="jumbotron">
    <h2 style="color:darkred">Kategori Sil</h2>
</div>
<h3>Silmek istediğinize emin misiniz?</h3>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.KategoriAdi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KategoriAdi)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />

                <a href="/Kategoriler/Index" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left"></span> Listeye Dön
                </a>
            </div>
        }
    </div>
</div>