@model ETicaret.Models.Kategoriler

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron">
     <h2 style="color:darkred">Kategori Detay</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.KategoriAdi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KategoriAdi)
            </dd>

        </dl>
    </div>
    <div class="col-md-10 col-md-offset-1 ">
        <p>
            <a href="/Kategoriler/Edit/@Model.KategoriId" class="btn btn-warning" title="Düzenle">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a href="/Kategoriler/Index" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Listeye Dön
            </a>
        </p>
    </div>
</div>
    @*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.KategoriId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
